<div class="uk-section uk-section-muted uk-preserve-color uk-section-xsmall">
                  <div class="uk-container">
                    <input name='regular_band[master_id]' type='hidden' value='${id}'>
                    <div class="band-member_year-section">
                      ${year} ${section}
                    </div>
                    <div class="band-member_name">
                      ${name}
                    </div>
                    <a class="band-member_remove-button">消去</a>
                  </div>
                </div>


<div class="uk-section uk-section-muted uk-preserve-color uk-section-xsmall">
                  <div class="uk-container">
                    <input name='regular_band[pa_id]' type='hidden' value='${id}'>
                    <div class="band-member_year-section">
                      ${year} ${section}
                    </div>
                    <div class="band-member_name">
                      ${name}
                    </div>
                    <a class="band-member_remove-button">消去</a>
                  </div>
                </div>
