.uk-section.uk-section-muted.uk-preserve-color.uk-section-xsmall
  .uk-container
    %input{:name => "regular_band[master_id]", :type => "hidden", :value => "${id}"}/
    .band-member_year-section
      ${year} ${section}
    .band-member_name
      ${name}
    %a.band-member_remove-button 消去

.uk-section.uk-section-muted.uk-preserve-color.uk-section-xsmall
  .uk-container
    %input{:name => "regular_band[pa_id]", :type => "hidden", :value => "${id}"}/
    .band-member_year-section
      ${year} ${section}
    .band-member_name
      ${name}
    %a.band-member_remove-button 消去
