// フラッシュメッセージに対するcss
.notification {
  .notice {
    background-color: $notice_color;
    color: #fff;
    text-align: center;
    padding: 4px;
  }

  .alert {
    background-color: $alert_color;
    color: #fff;
    text-align: center;
    padding: 4px;
  }
}
