.form-title{
  font-size: 3vh;
  margin: 16px 0;
}

.field{
  height: 8vh;
  &-input{
    min-width: 50vw;
    height: 4vh !important;
    line-height: 5vh;
  }
  &-label{
    font-size: 1.5vh;
    padding: 4px 0;
  }
}

.form-button{
  font-size: 2vh;
  width: 20vw;
  height: 5vh;
}

.warning{
  font-size: 1.5vh;
}
