// Place all the styles related to the RoomUsages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'scsportal-uikit.css';

th,td{font-size: 0.8em}

input[type="radio"]:checked + label {
 background-color: $b3_color;
 color:$main_color;
}
input[type="checkbox"]:checked + label {
 background-color: $b3_color;
 color:$main_color;
}