%header.flex-start.belt
	#header-left.icon.flex-center
	#header-center.grow.flex-center
		.text SCS Portal
	#header-right.icon.flex-center
		%span{ 'uk-icon': 'grid', ratio: 1.6, style: 'fill:white'}

